[Unit]
Description=Runs a Glance web server
Requires=wait-for-network.service
After=wait-for-network.service

[Service]
Type=simple
ExecStart=/home/{{ .chezmoi.username }}/.local/bin/glance -config ${HOME}/.config/glance/config.yaml

[Install]
WantedBy=default.target
