{{ $name := promptString "name" -}}
{{ $email := promptString "email" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}

[diff]
    pager = "delta"
    command = "delta"
    args = ["{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]
[merge]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]
