{{ $name := promptStringOnce . "name" "Full name" -}}
{{ $email := promptStringOnce . "email" "Email address" -}}
{{ $navi_openai_token := promptStringOnce . "navi_openai_token" "NaVi Open AI token" -}}
{{ $gpgsignkey := promptStringOnce . "gpgsignkey" "GPG signing key ID" -}}
{{ $bwSessionPath := promptStringOnce . "bwSessionPath" "Bitwarden session token path" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    navi_openai_token = {{ $navi_openai_token | quote }}
    gpgsignkey = {{ $gpgsignkey | quote }}
    bwSessionPath = {{ $bwSessionPath | quote }}

[diff]
    pager = "delta"
    command = "delta"
    args = ["{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]
[merge]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]
