[commit]
  gpgsign = true
[core]
  pager = delta
  excludesFile = ~/.gitignore
[delta]
  navigate = true
  light = false
[diff]
  tool = nvim -d
  colorMoved = default
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = diff3
[push]
  autoSetupRemote = true
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[user]
  email = {{ .email }}
  name = {{ .name }}
  signingkey = {{ .gpgsignkey }}
[log]
  date = local
[pull]
	ff = only
