/* https://github.com/morhetz/gruvbox */

window {
	margin: 5px;
	border: 2px solid #3c3836;
	background-color: #3c3836;
}

#input {
	margin: 5px;
	border: 2px solid #3c3836;
	background-color: #3c3836;
	color: #839496;
}

#inner-box { /* Menu items container */
	margin: 5px;
	border: 2px solid #282828;
	background-color: #282828;
}

#outer-box { /* input + menu items container */
	margin: 5px;
	border: 2px solid #282828;
	background-color: #282828;
}

#scroll { /* scrollbar + frame around menu items */
	margin: 5px;
	border: 2px solid #282828;
	background-color: #282828;
}

#text { /* Menu item text */
	margin: 5px;
	color: #928374;
}

#entry:selected { /* selected menu item */
	background-color: #3c3836;
	border: 2px solid #282828;
}

