snippet tdt "table test function"
  func Test${1:name}(t *testing.T) {
    t.Parallel()

    testCases := map[string]struct {
      name string
    }{
      "Should ${2:test name}": {}
    }

    for name, tc := range testCases {
      tc := tc

      t.Run(name, func(t *testing.T) {
        t.Parallel()

        ${0:${VISUAL}}
      })
    }
  }
