return {
  "deifyed/naVi",
  dependencies = {
    {
      "jcdickinson/http.nvim",
      build = "cargo build --workspace --release",
    },
  },
  config = function()
    require("navi").setup({
      debug = true,
      openai_token = {{ .navi_openai_token | quote }},
    })
  end,
  keys = {
    { "<leader>na", "<cmd>lua require('navi').open()<cr>", mode = "n", desc = "NaVI append" },
    { "<leader>ne", "<cmd>lua require('navi').openRange()<cr>", mode = "v", desc = "NaVI edit" },
    { "<leader>nb", "<cmd>lua require('navi').openFile()<cr>", mode = "n", desc = "NaVI edit buffer" },
    { "<leader>nr", "<cmd>lua require('navi').requestReview()<cr>", mode = "v", desc = "NaVI review" },
    { "<leader>nx", "<cmd>lua require('navi').explainRange()<cr>", mode = "v", desc = "NaVI explain" },
    { "<leader>nc", "<cmd>lua require('navi').openChat()<cr>", mode = "n", desc = "NaVI chat" },
  },
}
